VITE_SUPABASE_URL=https://qrvtovlrlmvqgbheukpr.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InF2cnRvdmxybG12cWdiaGV1a3ByIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg5NDM1MjUsImV4cCI6MjA5NDUxOTUyNX0.kjyTDoVccdToVmHmhzh3gstRLELknpZ8aFUNTCwZJoY